<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648258104513-s5jsgce9mgiicebeel3vje07d7ismi4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648258104513-s5jsgce9mgiicebeel3vje07d7ismi4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAjcVX0kqS8Fj2Lg6OD8bhzcHuy-T6Ag9U</string>
	<key>GCM_SENDER_ID</key>
	<string>648258104513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vieted.Test</string>
	<key>PROJECT_ID</key>
	<string>test-273ed</string>
	<key>STORAGE_BUCKET</key>
	<string>test-273ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648258104513:ios:10b1f4fddd816d28ee7840</string>
</dict>
</plist>